
 <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <div>

                    <li ng-repeat="phone in selectedPhones " class="thumbnail">
                        <div class="row">
                            <div class="col-xs-12">

                                <a href="#/phone/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="#/phone/{{phone.id}}">{{phone.name}}</a>
                            </div>
                        </div>

                        <it-basket-element-counter phone-object="phone" remove-phone="removeSelected(phoneToRemove)" />
                    </li>
                </div>
                Search:
                <input ng-model="query"></input>
                Sort by:
                <select ng-model="orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </div>
            <div class="col-xs-8">

                <ul class="phones">
                    <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
                        <tuto-phone phone-object="phone" buy-phone-function="buyPhone(add)">
                        </tuto-phone>

                    </li>
                </ul>
            </div>
        </div>
    </div>